<!-- home.handlebars -->
<div class="container text-center">
  <h1 class="text-center">Bem-vindo ao Nosso Restaurante!</h1>
  <p>Experimente nossas especialidades deliciosas e desfrute de um ambiente acolhedor.</p>
  <img src="/img/restaurante.png" alt="foto do restaurante" style="width: 100%; max-width: 600px; height: auto;">
</div>