
{{#if successo}}   
   <div class="alert alert-success text-center" role="alert">
      {{successo}}
   </div>
{{/if}}  
{{#if erro}}
   <div class="alert alert-danger" role="alert">
      {{error}}
   </div>
{{/if}}
 <a href="/" class="btn btn-primary">Voltar para a página principal</a>
{{!-- Fim do conteúdo da página mensagem.handlebars --}}

